<div class="background-image container" alt="chef">
  <h1>My Chef Bookings</h1>
  <%= link_to "Back to my bookings", my_bookings_path, class: "red_button" %>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col mt-3">
        <div class="card h-100" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= booking.meal.name %></h5>
            <p class="card-title"><%= booking.location %></p>
            <p class="card-title"><%= booking.date %></p>
            <h5><%= link_to "Cancel this booking",
                          booking_path(booking),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
 </div>
