<div class="container py-5">
  <div class="row">
    <div class="col-6">
      <div class="bg-white rounded p-3 shadow">
        <div class="form">
          <%= simple_form_for [ @user, @meal ] do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :price %>
          <div class="container">
            <%= f.submit class: 'red_button'%>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>