<div class="container" alt="chef">

  <div class="container">
    <h1>All meals</h1>
    <div class="row">
      <% @meals.each do |meal| %>
        <div class="col mt-3">
          <div class="card h-100" style="width: 18rem; opacity: 0.9;">
            <div class="card-body">
              <h6 class="card-title"><%= meal.meal_type %></h6>
              <hr style="border-color: <%= meal.card_colour %>;">
              <h3 class="card-title">Chef <%= meal.user.name %>'s <%= link_to meal.name.capitalize, meal_path(meal)%></h3>
              <hr class="my-4">
              <p class="card-text"><%= meal.description.capitalize %></p>
              <h6 class="card-title">Chef: <%= meal.user.name %></h6>
              <h5 class="btn btn-light"> <%= link_to "Book Now", meal_path(meal)%></h5>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

 </div>


