<div class="container" alt="chef">

  <div class="container">
    <h1>All meals</h1>
    <div class="row">
      <% @meals.each do |meal| %>
        <div class="col mt-3">
          <div class="card h-100" style="width: 18rem; background-color: <%= meal.card_colour %>; opacity: 0.9;">
            <div class="card-body">
              <h5 class="card-title"><%= meal.meal_type %></h5>
              <h5 class="card-title"><%= meal.user.name %></h5>
              <h5 class="card-title"><%= link_to meal.name, meal_path(meal)%></h5>
              <p class="card-text"><%= meal.description %></p>
              <h5 class="btn btn-light"> <%= link_to "Book Now", meal_path(meal)%></h5>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

 </div>


