<div class="container py-5">
  <div class="row">
    <div class="col-6">
      <div class="bg-white rounded p-3 shadow">
        <div class="form">
          <%= simple_form_for (@meal) do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :price %>
            <%= f.submit class: 'red_button'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
