<%= simple_form_for (@meal) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>
<ul>
    <li><%= link_to "Back to list", meals_path %></li>
</ul>
