<h2><%= @meal.name %></h1>
<ul>
    <li><%= link_to "Edit this meal", edit_meal_path %></li>
</ul>
    <p><%= @meal.description %></p>
    <p><%= "$#{@meal.price}" %></p>
<ul>
    <li><%= link_to "Back to list", meals_path %></li>
</ul>

<%= simple_form_for [@meal, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.input :location %>
  <%= f.submit %>
<% end %>