<div class="container py-5">
  <div class="row">
    <div class="col-6">
      <div class="bg-white rounded p-3 shadow">
        <h2 class="display-4"><%= @meal.name %></h1>
        <div class="form-container">
          <p class="lead"><%= @meal.description %></p>
          <p class="lead"><%= "$#{@meal.price}" %></p>
          <hr class="my-4">
          <div class="form">
            <%= simple_form_for [@meal, @booking] do |f| %>
            <%= f.input :date %>
            <%= f.input :location %>
            <%= f.submit class: 'submit' %>
            <div class="buttons">
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
