<div class="container py-5">
  <div class="row">
    <div class="col-6">
      <div class="rounded p-3 shadow" style="background-color: <%= @meal.card_colour %>; opacity: 0.9;">
        <h2 class="display-4"><%= @meal.name %></h1>
        <ul>
          <%= link_to "Edit meal", edit_meal_path %>
        </ul>
        <div class="form-container">
          <p class="lead"><%= @meal.meal_type %></p>
          <p class="lead"><%= @meal.description %></p>
          <p class="lead"><%= "$#{@meal.price}" %></p>
          <hr class="my-4">
          <div class="form">
            <%= simple_form_for [@meal, @booking] do |f| %>
            <%= f.input :date %>
            <%= f.input :location %>
            <%= f.submit class: 'red_button' %>
            <div class="buttons">
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
